<div class="dashboard-container">
    <h2>Dashboard</h2>
  
    <div class="cards">
      <mat-card class="dashboard-card">
        <h3>Total de Postagens</h3>
        <p>{{ totalPosts }}</p>
      </mat-card>
  
      <mat-card class="dashboard-card">
        <h3>Últimas Postagens</h3>
        <ul>
          <li *ngFor="let post of lastPosts">
            {{ post.titulo }} - {{ post.data | date:'shortDate' }}
          </li>
        </ul>
      </mat-card>
    </div>
  
    <h3>Posts por Autor</h3>
    <ngx-charts-bar-vertical
    [results]="postsByAuthor"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="Autor"
    yAxisLabel="Postagens">
  </ngx-charts-bar-vertical>
  
  </div>
  