<mat-toolbar class="header" color="primary">
  <a routerLink="/posts" class="logo-link">
    <img src="assets/Maker.png" alt="Blog Pessoal" class="logo-img" />
  </a>

  <span class="spacer"></span>

  <a class="nav-link" routerLink="/posts">Posts</a>
  <a class="nav-link"  routerLink="/post-form">Novo Post</a>
  <a class="nav-link"  routerLink="/dashboard">Gráficos</a>
  <ng-container *ngIf="!authService.isLoggedIn(); else logged">
    <a class="nav-link"  routerLink="/login">Login</a>
  </ng-container>

  <ng-template #logged>
    <a class="nav-link" (click)="logout()">Sair</a>
  </ng-template>
</mat-toolbar>