.header {
  background-color: #671045;
  padding-inline: 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem; 
}

.spacer {
  flex: 1 1 auto;
}

.logo-img {
  height: 40px; 
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}


.nav-link {
  font-size: 1.125rem;
  color: #ffde59;
  text-decoration: none;
  margin-left: 3rem;
  position: relative;
  font-weight: 500;
}

.nav-link:hover:after {
  transform: scalex(1);
}

.nav-link:after {
  transition: 0.25s ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; 
    align-items: flex-start; 
    padding: 1rem;
  }

  .spacer {
    display: none;
  }

  .nav-link {
    margin-left: 0;
    margin-top: 0.5rem;
    font-size: 1rem;
  }

}
