.post-form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #6f646c;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(247, 239, 239);
    font-family: 'arial';
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: rgb(247, 239, 239);
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    background-color: #eeeeee;
  }
  
  input:focus,
  textarea:focus {
    border-color: #31233e;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #671045;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #580e3b;
  }
  
  .error-message {
    color: #671045;
    text-align: center;
    margin-bottom: 10px;
  }
  